.alerta{
    width: 50%;
    background-color: yellow;
    border: 1px solid black;
}

.card{
    padding: 10px 40px;
    background-color: bisque;
    border: none;
    border-radius: 16px;
}

.botao{
    background-color: aquamarine;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

.text{
    font-size: 12px;
    font-family: Times;
    font-weight: bold;
    color: blue;
    padding: 50px;
}

.titulo{
    font-size: 24px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: gray;
}