.textE{
    font-size: 12px;
    font-family: Times;
    font-weight: bold;
    color: blue;
    display: flex;
    padding: 12px;
    grid-column:1/2;
    grid-row: 3/4;
    justify-content: start;
    height: 50%;
}

.textS{
    font-size: 12px;
    font-family: Times;
    font-weight: bold;
    color: blue;
    padding: 5px;
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    justify-self: start;
    align-self: end;
    height: 20%;
}